* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flex($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}

button {
  appearance: none;
  background-color: hsl(180, 100%, 25%);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-radius: 3px;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.15s;

  &:hover {
    background-color: hsl(180, 100%, 20%);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5%;
}

nav {
  height: 70px;
  background-color: rgb(204, 204, 204);
  width: 100%;
  @include flex();
  justify-content: flex-start;

  .nav-content {
    padding: 0 2.5%;
    margin: 0 auto;

    h3 {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
}

main.main {
  min-height: calc(100vh - 70px);
  @include flex();
  // flex-direction: column;

  .arrow {
    font-size: 5rem;
    margin: 0 2rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.original-image {
  max-width: 300px;
  @include flex(column);

  img {
    width: 100%;
  }
}

.puzzle-box {
  max-width: 500px;
  min-width: 350px;
  min-height: 350px;
  max-height: 500px;
  border-radius: 3px;
  border: 6px solid grey;

  &.done {
    border: 6px solid rgb(23, 201, 23);
  }
}

.images-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  & > div {
    height: 25%;
    width: 25%;
    transition: 0.25s;
    @include flex();
  }

  .img {
    height: 100%;
    width: 100%;
    padding: 2px;
    cursor: move;
    transition: 0.25s;

    &.over {
      opacity: 0.2;
    }
  }
}

.done-message {
  @include flex();
  justify-content: space-around;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}
