* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: teal;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-radius: 3px;
  color: whitesmoke;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

button:hover {
  background-color: #006666;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5%;
}

nav {
  height: 70px;
  background-color: #cccccc;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .nav-content {
  padding: 0 2.5%;
  margin: 0 auto;
}

nav .nav-content h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

main.main {
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.main .arrow {
  font-size: 5rem;
  margin: 0 2rem;
}

main.main p {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.original-image {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.original-image img {
  width: 100%;
}

.puzzle-box {
  max-width: 500px;
  min-width: 350px;
  min-height: 350px;
  max-height: 500px;
  border-radius: 3px;
  border: 6px solid grey;
}

.puzzle-box.done {
  border: 6px solid #17c917;
}

.images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images-container > div {
  height: 25%;
  width: 25%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.images-container .img {
  height: 100%;
  width: 100%;
  padding: 2px;
  cursor: move;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.images-container .img.over {
  opacity: 0.2;
}

.done-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */